:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 30px 50px;
}
.moto {
  font-size: 100px;
  color: var(--main-text-color);
  margin-bottom: 85px;
}
.todo-input {
  background-color: var(--todo-bg-color);
  border: none;
  height: 50px;
  width: 625px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: var(--input-text-color);
  padding-left: 10px;
  margin-bottom: 20px;
}
.input-cont {
  white-space: nowrap;
}
.todo-input:focus {
  outline: none;
}
.add-todo-btn {
  height: 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  width: 125px;
  background-color: var(--add-todo-btn-bg-color);
  color:  var(--add-todo-btn-color);
  font-weight: 600;
  cursor: pointer;
}
.time {
  color: var(--main-text-color);
  font-size: 17px;
  margin-bottom: 25px;
}

