<div class="themes">
  <button 
    (click)="setTheme('green-theme')" 
    class="theme first-theme"
  ></button>

  <button 
    (click)="setTheme('white-theme')"
    class="theme second-theme"
  ></button>

  <button 
    class="theme third-theme"
    (click)="setTheme('blue-theme')"
  ></button>

</div>
<h1 class="moto">Just do it.|</h1>
<div class="input-cont">
  <input
    class="todo-input"
    type="text"
    placeholder="Add a task."
    #input
  >
  <button 
    type="submit"
    class="add-todo-btn"
    (click)="addTodo(input.value)"
  >
    I Got This!
  </button>
</div>
<div class="time">11/17/20, 9:20:59 PM</div>
<app-todo-list
 [todoList]="todos"
 (updateList)="onUpdate($event)"
></app-todo-list>